* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}

@font-face {
  font-family: Cormorant;
  src: url(../styles/fonts/Cormorant-Regular.otf);
}

@font-face {
  font-family: Oswald;
  src: url(../styles/fonts/Oswald-Regular.ttf);
}

@font-face {
  font-family: Roboto Condensed;
  src: url(../styles/fonts/RobotoCondensed-Regular.ttf);
}

/*....................................................HEADER........................................................*/
.container {
  max-width: 1100px;
  margin: 0 auto;
}

.head {
  background: #000000;
  margin: 0px;
  padding: 0px;
}

.header-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__burger {
  display: none;
}

a {
  display: block;
  text-decoration: none;
}

.navbar__li > li,
.navbar__li > li > a {
  list-style-type: none;
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffffff;
  margin-left: 20px;
}

.navbar__li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__link:hover {
  color: #43ffd2;
}

.header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 150px;
  opacity: 1;
}

.contacts__number {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #43ffd2;
  margin-right: 20px;
  margin-left: 10px;
}

/*.................................................FOOTER........................................................*/
.footer {
  background: #000000;
}

.footer-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 30px 0 50px 0;
}

.footer-column-1 {
  width: 23%;
}

.footer-column-2 {
  width: 15%;
  padding-top: 30px;
}

.footer-column-3 {
  width: 15%;
  padding-top: 30px;
}

.footer-column-4 {
  width: 15%;
  padding-top: 30px;
}

.footer-mobile {
  padding-top: 30px;
}

.footer-mobile > p {
  margin-bottom: 20px;
}

.footer__title {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #43ffd2;
  margin-bottom: 10px;
}

.column__title {
  margin-bottom: 20px;
}

.footer-text {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-list > li {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffffff;
  list-style-type: none;
  margin: 0 0 5px 0;
}

.footer-mobile__title {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #43ffd2;
}

.footer-mobile__text {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 300;
  font-size: 10px;
  line-height: 15px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-mobile-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 40px;
}

.footer__logo {
  margin-bottom: 10px;
}

.footer__icon {
  margin-right: 20px;
}

/*..............................................CORPORATE........................................................*/
.corporate {
  background: #282828;
}

.corporate-wrapper {
  position: relative;
  padding-top: 35px;
  padding-bottom: 130px;
  background: url(../img/corporate/flower_mid.png) top 55% left 0 no-repeat, url(../img/corporate/flower_mid_down.png) top 55% left 0 no-repeat, url(../img/corporate/lover_flower.png) top 95% left 80% no-repeat, url(../img/corporate/orange_ellipse_up_left.png) top 0 left 0 no-repeat, url(../img/corporate/orange_ellipse_up_right.png) top 0 left 100% no-repeat, url(../img/corporate/orange_ellipse_center.png) top 45% left 50% no-repeat, url(../img/corporate/orange_ellipse_foot_left.png) top 110% left 0 no-repeat, url(../img/corporate/oranfe_ellipse_foot_right.png) top 110% left 100% no-repeat;
}

.flower__left {
  position: absolute;
  top: -1%;
  left: 0;
}

.flower__right {
  position: absolute;
  top: -1%;
  right: -1%;
}

.welcome-bread {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 46px;
  margin-left: 2%;
}

.bread__text {
  margin: 0px 5px;
}

.bread__link {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffffff;
}

.welcome-title {
  margin-left: 10%;
}

.welcome__title {
  font-family: "Cormorant";
  font-style: normal;
  font-weight: 400;
  font-size: 100px;
  line-height: 121px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #ffffff;
}

.welcome__subtitle {
  font-family: "Cormorant";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #ffffff;
}

.down {
  margin-left: 10%;
}

.welcome__text {
  width: 75%;
  font-family: "Oswald";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 100px;
}

.green {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #43ffd2;
}

.cooperation {
  margin-top: 100px;
  width: 65%;
  margin-left: 9%;
}

.cooperation__text {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.04em;
  color: #ffffff;
  margin-bottom: 20px;
}

/*..........................................BONUS..............................................................*/
.bonus {
  padding-top: 100px;
}

.bonus__title {
  font-family: "Cormorant";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.green__text {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #43ffd2;
}

.table__cell {
  width: 500px;
  height: 80px;
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.04em;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.2);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  margin-top: 10px;
  padding: 10px 20px;
}

.bonus-table {
  margin-top: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.table-column {
  width: 45%;
}

.table__title {
  text-align: center;
  padding: 15px;
  background: rgba(0, 0, 0, 0.2);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
}

.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.large {
  height: 110px;
}

/*..............................................LEVELS.........................................................*/
.levels {
  margin-top: 100px;
  margin-left: 50%;
}

.levels__title {
  font-family: "Cormorant";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #43ffd2;
  margin-bottom: 30px;
}

.levels__list {
  margin-top: 20px;
  margin-left: 3%;
}

.levels__list > li {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffffff;
}

/*....................................................request-Form............................................*/
.request-form {
  padding-top: 185px;
}

.form-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  margin-top: 20px;
}

.form__title {
  margin-bottom: 60px;
}

.form__input {
  width: 540px;
  height: 60px;
  border: 1px solid #555555;
  background: transparent;
  margin-bottom: 20px;
  padding: 20px;
  color: #ffffff;
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.06em;
}

.form__label {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.06em;
  color: #ffffff;
}

input,
label {
  display: block;
}

.form__input::-webkit-input-placeholder {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.04em;
  color: #555555;
}

.form__input:-ms-input-placeholder {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.04em;
  color: #555555;
}

.form__input::-ms-input-placeholder {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.04em;
  color: #555555;
}

.form__input::placeholder {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.04em;
  color: #555555;
}

.form__button {
  width: 255px;
  height: 50px;
  background: #43ffd2;
  font-family: "Oswald";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 40px;
}

.form__button:hover {
  background: #7d2253;
  color: #ffffff;
}

.form__text {
  max-width: 340px;
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.02em;
  color: #ffffff;
  -ms-flex-item-align: start;
  align-self: flex-start;
  margin-top: 10px;
}

.form__link {
  display: inline;
}

.right {
  display: none;
}

/*.....................................................CART...........................................................*/
.cart {
  background: rgba(0, 0, 0, 0.4);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 2;
  margin: auto;
  display: none;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.cart-wrapper {
  width: 420px;
  background: #000000;
  min-height: 100vh;
  padding: 30px;
  overflow: scroll;
}

.content-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  border-bottom: 1px solid #555555;
  padding-bottom: 15px;
}

.content__title {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 44px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #43ffd2;
}

.cart__close {
  position: absolute;
  top: 1%;
  right: 0;
  cursor: pointer;
}

.cart-items {
  min-height: 70vh;
}

.cart__item {
  padding: 20px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 120px;
  border-bottom: 1px solid #555555;
}

.item__left {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.item-description {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.item__title {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #ffffff;
}

.item-quantity {
  width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 6px 10px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border: 0.5px solid #555555;
}

.item__quantity {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #555555;
}

.item__minus,
.item__plus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.item__right {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.item__price {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 0px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #43ffd2;
}

.item__delete {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 5px;
  letter-spacing: 0.04em;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
}

.baloons {
  border-bottom: 1px solid #555555;
  padding-bottom: 30px;
}

.baloons__title {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 13px;
}

.baloons-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 65px;
}

.baloon__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.baloon__name {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #ffffff;
}

.baloon__price {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #43ffd2;
}

.baloon__add {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 15px;
  letter-spacing: 0.04em;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  text-transform: uppercase;
  color: #43ffd2;
}

.total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 10px;
}

.total__text {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #43ffd2;
}

.order {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #ffffff;
}

.cart__button {
  width: 360px;
  height: 55px;
  border: 0.5px solid #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Oswald";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
  background: transparent;
  margin-top: 20px;
  cursor: pointer;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.cart__button:hover {
  background: #43ffd2;
  color: #000000;
}

/*......................................................BURGER...................................................*/
.menu-burger {
  background: rgba(0, 0, 0, 0.4);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 2;
  margin: auto;
  overflow: scroll;
  display: none;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.burger-wrapper {
  width: 260px;
  background: #000000;
  height: 100%;
}

.burger-content {
  height: 100%;
  padding: 0px 10px;
  position: relative;
}

.menu__close {
  position: absolute;
  top: 4%;
  right: 5%;
}

.burger__text {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 5px;
}

.search-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search-block__img {
  margin-bottom: 10px;
  padding-top: 5px;
}

.policy {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 15px;
  letter-spacing: 0.04em;
  -webkit-font-feature-settings: "liga" off;
          font-feature-settings: "liga" off;
  color: #555555;
}

.tel__number {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.1em;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 10px;
}

.burg {
  margin-top: 10px;
}

.white__line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}

.menu {
  margin-bottom: 10px;
}

/*............................................ADAPTIVE.........................................................*/
@media only screen and (max-width: 430px) {
  .container {
    max-width: 320px;
    margin: 0 auto;
  }
  /*.....................................HEADER.....................................................*/
  .header__logo,
  .header__navbar,
  .header__phone,
  .contacts__number {
    display: none;
  }
  .header-wrapper {
    padding: 20px 10px;
  }
  .header__contacts {
    opacity: 1;
  }
  .header__contacts {
    width: 100%;
    margin: 0;
    opacity: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header__burger {
    display: block;
  }
  .contacts__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contacts__title h4 {
    font-family: "Cormorant";
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #ffffff;
  }
  .welcome-bread {
    margin-bottom: 20px;
  }
  /*.......................................CORPORATE.............................................................*/
  .corporate-wrapper {
    position: relative;
    padding-top: 35px;
    padding-bottom: 130px;
    background: url(../img/corporate/flower_mobil_left.png) top -1% left 0% no-repeat, url(../img/corporate/flower_up_right.png) top 0 left 100%/50% no-repeat, url(../img/corporate/orange_ellipse_up_left.png) top 0 left 0 no-repeat, url(../img/corporate/orange_ellipse_up_right.png) top 0 left 100% no-repeat, url(../img/corporate/orange_ellipse_center.png) top 35% left 50%/120% no-repeat, url(../img/corporate/orange_ellipse_foot_left.png) top 105% left 0/70% no-repeat, url(../img/corporate/oranfe_ellipse_foot_right.png) top 105% left 100%/70% no-repeat;
  }
  .flower__right,
  .flower__left {
    display: none;
  }
  .welcome__title {
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 0.02em;
  }
  .welcome__subtitle {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
  }
  .welcome__text {
    margin-top: 40px;
    width: 100%;
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.04em;
  }
  .green {
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.04em;
  }
  .cooperation {
    margin-top: 40px;
    width: 100%;
    margin-left: 0;
  }
  .cooperation__text {
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.04em;
  }
  .bonus {
    padding-top: 40px;
  }
  .bonus__title {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    margin-left: 15%;
  }
  .green__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.04em;
    margin-left: 15%;
  }
  .mob {
    width: 55%;
    margin-left: 15%;
  }
  .bonus-table {
    width: 100%;
    gap: 6px;
    margin-top: 20px;
  }
  .table__title {
    width: 100%;
    height: 60px;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.04em;
    margin-left: 0;
    padding: 9px 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .table-column {
    width: 50%;
  }
  .table__cell {
    width: 100%;
    height: 105px;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.04em;
    padding: 10px 7px;
  }
  .large {
    height: 150px;
  }
  .levels {
    margin-top: 60px;
    margin-left: 0;
  }
  .levels__title {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    margin-bottom: 10px;
  }
  .levels__list li {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.04em;
  }
  .form__title {
    margin-left: 0;
    margin-bottom: 60px;
  }
  .fill {
    margin-left: 0;
  }
  .request-form {
    padding-top: 60px;
  }
  .form-form {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0px 10px;
  }
  .form__input {
    width: 100%;
  }
  .left {
    display: none;
  }
  .right {
    display: block;
  }
  /*............................................CART...........................................................*/
  .cart-wrapper {
    width: 300px;
    background: #000000;
    min-height: 100vh;
    padding: 10px;
    overflow: scroll;
  }
  .cart-items {
    min-height: 50vh;
  }
  .baloons-items {
    gap: 15px;
  }
  .cart__button {
    width: 100%;
  }
  .baloons {
    padding-bottom: 15px;
  }
  .baloon__name {
    font-weight: 400;
    font-size: 8px;
    line-height: 12px;
    letter-spacing: 0.02em;
  }
  .baloon__price {
    font-weight: 700;
    font-size: 8px;
    line-height: 12px;
    letter-spacing: 0.04em;
  }
  .baloon__add {
    font-weight: 400;
    font-size: 8px;
    line-height: 12px;
    letter-spacing: 0.04em;
  }
  .total__text {
    font-weight: 700;
    font-size: 10px;
    line-height: 15px;
    letter-spacing: 0.02em;
  }
  .order {
    font-weight: 700;
    font-size: 10px;
    line-height: 15px;
    letter-spacing: 0.02em;
  }
  .item__title {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.02em;
  }
  /*.........................................adaptive footer..................................................*/
  .footer-column-2,
  .footer-column-3 {
    display: none;
  }
  .footer-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 20px 0px;
  }
  .footer-column-4 {
    width: 100%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer-mobile {
    width: 100%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer-column-1 {
    width: 100%;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
/*# sourceMappingURL=corporate.css.map */