* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}

@font-face {
  font-family: Cormorant;
  src: url(../styles/fonts/Cormorant-Regular.otf);
}

@font-face {
  font-family: Oswald;
  src: url(../styles/fonts/Oswald-Regular.ttf);
}

@font-face {
  font-family: Roboto Condensed;
  src: url(../styles/fonts/RobotoCondensed-Regular.ttf);
}

/*....................................................HEADER........................................................*/
.container {
  max-width: 1100px;
  margin: 0 auto;
}

.head {
  background: #000000;
  margin: 0px;
  padding: 0px;
}

.header-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

a {
  display: block;
  text-decoration: none;
}

.navbar__li > li,
.navbar__li > li > a {
  list-style-type: none;
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffffff;
  margin-left: 20px;
}

.navbar__li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__link:hover {
  color: #43ffd2;
}

.header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 150px;
  opacity: 1;
}

.contacts__number {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #43ffd2;
  margin-right: 20px;
  margin-left: 10px;
}

/*...............................................ORDER...........................................................*/
.order {
  background: #282828;
}

.order-wrapper {
  padding-top: 35px;
  padding-bottom: 190px;
  background: url(../img/order/flower_up_left.png) top 0 left 0 no-repeat, url(../img/order/flower_up_right.png) top -10% left 100% no-repeat, url(../img/order/flower_up_right_right.png) top -10% left 100% no-repeat, url(../img/order/lover_flower.png) top 15% left 50% no-repeat, url(../img/order/payment.png) top 90% left 50% no-repeat, url(../img/order/blue_ellipse_up_left.png) top 0 left 0 no-repeat, url(../img/order/purple_ellipse_up_right.png) top 0 left 100% no-repeat, url(../img/order/blue_ellipse_mid_right.png) top 50% left 100% no-repeat, url(../img/order/purple_ellipse_mid_right.png) top 60% left 100% no-repeat, url(../img/order/blue_ellipse_foot_left.png) top 120% left 0 no-repeat, url(../img/order/blue_ellipse_foot_center.png) top 120% left 50% no-repeat, url(../img/order/purple_ellipse_foot_right.png) top 120% left 100% no-repeat;
}

.welcome-bread {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 46px;
  margin-left: 2%;
}

.bread__text {
  margin: 0px 5px;
}

.bread__link {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffffff;
}

.welcome__title {
  font-family: "Cormorant";
  font-style: normal;
  font-weight: 400;
  font-size: 100px;
  line-height: 121px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #ffffff;
}

.down {
  margin-left: 10%;
}

/*...........................................MAKING ORDER.......................................................*/
.making-order {
  padding-top: 80px;
}

.making__title {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 44px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #43ffd2;
  margin-bottom: 40px;
}

.making__text {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #43ffd2;
}

/*................................................FORM...........................................................*/
.order-columns {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form-form {
  width: 50%;
}

.order-order {
  width: 35%;
}

.form__input {
  width: 540px;
  height: 60px;
  border: 1px solid #555555;
  background: transparent;
  margin-bottom: 20px;
  padding: 20px;
  color: #ffffff;
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.06em;
}

.form__label {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.06em;
  color: #ffffff;
  margin-bottom: 20px;
}

input,
label {
  display: block;
}

.form__input::-webkit-input-placeholder {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.04em;
  color: #555555;
}

.form__input:-ms-input-placeholder {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.04em;
  color: #555555;
}

.form__input::-ms-input-placeholder {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.04em;
  color: #555555;
}

.form__input::placeholder {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.04em;
  color: #555555;
}

.form__button {
  width: 255px;
  height: 50px;
  background: #43ffd2;
  font-family: "Oswald";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 40px;
}

.form__text {
  max-width: 340px;
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.02em;
  color: #ffffff;
  -ms-flex-item-align: start;
  align-self: flex-start;
  margin-top: 10px;
}

.form__link {
  display: inline;
}

.cargo {
  margin-top: 60px;
}

.radio {
  display: inline;
}

.adress {
  width: 540px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.adress__input {
  width: 160px;
  height: 60px;
  border: 1px solid #555555;
  padding: 20px;
  background: transparent;
}

.adress__input::-webkit-input-placeholder {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.04em;
  color: #555555;
}

.adress__input:-ms-input-placeholder {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.04em;
  color: #555555;
}

.adress__input::-ms-input-placeholder {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.04em;
  color: #555555;
}

.adress__input::placeholder {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.04em;
  color: #555555;
}

.pay {
  margin-top: 60px;
}

.label__text {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #555555;
}

.promocode {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.promo__button {
  width: 190px;
  height: 60px;
  border: 1px solid #43ffd2;
  background: transparent;
  font-family: "Oswald";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.06em;
  color: #43ffd2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.promo__button:hover {
  background: #43ffd2;
  color: #000000;
}

.totalsum {
  width: 540px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 60px;
}

.totalsum__text {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 44px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #43ffd2;
}

.discount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
  margin-bottom: 10px;
}

.discount__text {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffffff;
}

.ship {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
}

.content__button:hover {
  background: #7d2253;
  color: #ffffff;
}

select {
  display: block;
}

/*.................................................FOOTER........................................................*/
.footer {
  background: #000000;
}

.footer-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 30px 0 50px 0;
}

.footer-column-1 {
  width: 23%;
}

.footer-column-2 {
  width: 15%;
  padding-top: 30px;
}

.footer-column-3 {
  width: 15%;
  padding-top: 30px;
}

.footer-column-4 {
  width: 15%;
  padding-top: 30px;
}

.footer-mobile {
  padding-top: 30px;
}

.footer-mobile > p {
  margin-bottom: 20px;
}

.footer__title {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #43ffd2;
  margin-bottom: 10px;
}

.column__title {
  margin-bottom: 20px;
}

.footer-text {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-list > li {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffffff;
  list-style-type: none;
  margin: 0 0 5px 0;
}

.footer-mobile__title {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #43ffd2;
}

.footer-mobile__text {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 300;
  font-size: 10px;
  line-height: 15px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-mobile-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 40px;
}

.footer__logo {
  margin-bottom: 10px;
}

.footer__icon {
  margin-right: 20px;
}

/*.....................................................CART...........................................................*/
.cart {
  background: rgba(0, 0, 0, 0.4);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 2;
  margin: auto;
  display: none;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.cart-wrapper {
  width: 420px;
  background: #000000;
  min-height: 100vh;
  padding: 30px;
  overflow: scroll;
}

.content-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  border-bottom: 1px solid #555555;
  padding-bottom: 15px;
}

.content__title {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 44px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #43ffd2;
}

.cart__close {
  position: absolute;
  top: 1%;
  right: 0;
  cursor: pointer;
}

.cart-items {
  min-height: 70vh;
}

.cart__item {
  padding: 20px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 120px;
  border-bottom: 1px solid #555555;
}

.item__left {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.item-description {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.item__title {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #ffffff;
}

.item-quantity {
  width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 6px 10px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border: 0.5px solid #555555;
}

.item__quantity {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #555555;
}

.item__minus,
.item__plus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.item__right {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.item__price {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 0px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #43ffd2;
}

.item__delete {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 5px;
  letter-spacing: 0.04em;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
}

.baloons {
  border-bottom: 1px solid #555555;
  padding-bottom: 30px;
}

.baloons__title {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 13px;
}

.baloons-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 65px;
}

.baloon__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.baloon__name {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #ffffff;
}

.baloon__price {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #43ffd2;
}

.baloon__add {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 15px;
  letter-spacing: 0.04em;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  text-transform: uppercase;
  color: #43ffd2;
}

.total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 10px;
}

.total__text {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #43ffd2;
}

.order__text {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #ffffff;
}

.cart__button {
  width: 360px;
  height: 55px;
  border: 0.5px solid #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Oswald";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
  background: transparent;
  margin-top: 20px;
  cursor: pointer;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.cart__button:hover {
  background: #43ffd2;
  color: #000000;
}
/*# sourceMappingURL=order.css.map */